<%- include('../includes/head.ejs') %>
    </head>

    <body class="orders">
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>No Orders to Show</h1>
        </main>
        <%- include('../includes/end.ejs') %>